/* line 2, ../sass/store2.scss */
.static-block-top-footer {
  margin-bottom: 30px;
  overflow: hidden;
  margin-left: -10px;
}

/* line 7, ../sass/store2.scss */
.home_top_tab {
  margin-bottom: 10px;
}
/* line 9, ../sass/store2.scss */
.home_top_tab ul.product_list li {
  padding-bottom: 10px;
}

/* line 14, ../sass/store2.scss */
.cs_static3 {
  margin-bottom: 45px;
}
