.wt-prod-cat{margin-top:40px;overflow:hidden;}
/*.wt-prod-cat .sub-cat:before{content:"";background:url(../img/icon_list_menu.png)no-repeat;width:12px;height:10px; position: absolute; left: 20px; margin-top: 9px; margin-right: 10px;}*/
.cat-content-hide{position:absolute; opacity:0;top:45%;margin:0 auto;width:100%;text-align:center;z-index: 999;}
.wt-prod-cat .sub-cat {margin-bottom:5px; padding-left: 0px; padding-right: 0px; margin-top: 0;}
.wt-prod-cat .product-container:hover .cat-content-hide{opacity:1;}
.wt-prod-cat .sub-cat .list_carousel{ padding-left: 25px; padding-right: 25px;}
.wt-prod-cat .sub-cat .list_carousel .caroufredsel_wrapper{margin-bottom: -4px !important;}
.wt-prod-cat .sub-cat .btn{position: absolute; padding: 0; z-index: 999; top: -7px;}
.wt-prod-cat .sub-cat .next:before{font-family: "FontAwesome"; content: "\f105"; font-size: 20px;}
.wt-prod-cat .sub-cat .next{right:-15px;}
.wt-prod-cat .sub-cat .prev:before{font-family: "FontAwesome"; content: "\f104"; font-size: 20px;}
.wt-prod-cat .sub-cat .prev{right: 10px;}
.owl-carousel .owl-controls .owl-nav .owl-prev:before, .owl-carousel .owl-controls .owl-nav .owl-next:before {
    font-size: 18px;
    color: #999;
    content: "\f104";
    font-family: "FontAwesome";
	border: 1px solid #999;
    padding: 4px 10px;
	 background:transparent;

}
.block-sub_cat{padding-right: 20px;}
.block-sub_cat.right{padding-right: 40px; padding-left: 20px;}
.block-banner{padding-left: 20px;}
.block-banner.right{padding-left: 40px; padding-right: 20px;}
.out-content-prod .product-container{text-align:center;}
.out-content-prod .product-price-and-shipping .regular-price{color:#999;}
.out-content-prod .wt_size{display:none;}
.out-content-prod .wt_color{display: inline-block; margin-top: 10px;}
.out-content-prod{margin-top:50px;}
.wt-prod-cat .out-content-prod .ajax_block_product{margin: 5px 10px; height: 330px;}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover:before, .owl-carousel .owl-controls .owl-nav .owl-next:hover:before{color:#fff;background:#0f9cff;border:1px solid transparent;}
.owl-carousel .owl-controls .owl-nav .owl-next:before {
    content: "\f105";
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{font-size:0;margin-right:0;}
#wt_category_feature .owl-carousel .owl-controls .owl-nav, .owl-theme .owl-dots{position:absolute;right:0;top:-40px;}
#wt_category_feature .owl-carousel .owl-stage-outer {
    position: relative;
overflow: hidden;}

.sub-cat .sub-cat-ul li
{
	float: left;
	height: auto;
	list-style: none outside none;
	padding:0;
	position: relative;
	white-space: nowrap;
	z-index:2;
}
.sub-cat .sub-cat-ul li a
{
	color: #666;
	float: left;
	font-family: 'Muli';
	font-size: 18px;
	padding: 0px 5px 10px 5px;
	text-align: left;
	text-decoration: none;
	text-align:center;
	text-transform: capitalize;
	width: 100%;
	position: relative;
}


.block-sub_cat.right{float: right;}
.block-products.right{float: right;}


.wt-prod-cat .block-products .content-product-sub-cat:hover .btn{opacity:1;}
.wt-prod-cat .block-products{padding:0}
.wt-prod-cat .content-product-sub-cat .list_carousel a.btn{font-size:0;z-index:9999;padding:0;opacity:0;}
.wt-prod-cat .content-product-sub-cat .list_carousel .prev{position:absolute;top:45%;left:0;}
.wt-prod-cat .content-product-sub-cat .list_carousel .btn.prev:before{content:"\f053";font-size:12px;color:#2a3847;background:transparent ;font-family:FontAwesome;padding:7px 9px;font-weight:lighter;border:1px solid #2a3847}
.wt-prod-cat .content-product-sub-cat .list_carousel .btn.prev:hover:before{color:#fff;background:#2a3847;}
.wt-prod-cat .content-product-sub-cat .list_carousel .btn.next:hover:before{color:#fff;background:#2a3847;}
.wt-prod-cat .content-product-sub-cat .list_carousel .next{position:absolute;top:45%;right:0;}
.wt-prod-cat .content-product-sub-cat .list_carousel .btn.next:before{content:"\f054";font-size:12px;color: #2a3847;background:transparent;font-family:FontAwesome;padding:7px 9px;font-weight:lighter;border:1px solid #2a3847}
.wt-prod-cat .content-product-sub-cat .list_carousel a.btn:hover{background:none}
.wt-prod-cat .content-product-sub-cat .caroufredsel_wrapper{position:relative}
.wt-block-title {   border: 1px solid #d9d9d9;    border-bottom: 0;  padding:20px 20px 10px 20px;background:#f3f3f3!important}
.wt-prod-cat .wt-block-title .icon_cat{float:left;padding-right:5px;}
.wt-prod-cat .wt-block-title h3{color:#2a3847; margin-bottom:0;font-size:22px;text-transform:uppercase;font-family: 'Exo 2', sans-serif;}
.wt-prod-cat .list_carousel ul.sub-cat-ul{    border: 1px solid #d9d9d9;  
  padding: 0px 0 20px 30px;    height: auto;   
  border-top: 0;background:#f3f3f3;position:relative;
  }
.wt-prod-cat .list_carousel ul.sub-cat-ul li{line-height:40px;}
.wt-prod-cat .list_carousel ul.sub-cat-ul li.active a:before{content:"\f061";font-size:11px;color: #2a3847;left:40px;font-family:FontAwesome;}
.wt-prod-cat .right .list_carousel ul.sub-cat-ul li.active:after{content:"\f0d9";font-size:13px;color: #d9d9d9;position:absolute;left:-6px;font-family:FontAwesome;}
.wt-prod-cat .list_carousel ul.sub-cat-ul li.active:after{content:"\f0da";font-size:13px;color: #d9d9d9;position:absolute;right:-6px;font-family:FontAwesome;}
.wt-prod-cat .list_carousel ul.sub-cat-ul li.active a{margin-left: 20px;}

.wt-prod-cat .list_carousel ul.sub-cat-ul li:hover a{margin-left: 20px;}
.wt-prod-cat .list_carousel ul.sub-cat-ul li a{
	   -moz-transition: all 0.3s;
-o-transition: all 0.3s;
-webkit-transition:all 0.3s;
transition:all 0.3s;
font-size:18px;font-weight:600;text-transform:capitalize;font-family: 'Muli', sans-serif;color:#2a3847;}
.wt-prod-cat .list_carousel ul.sub-cat-ul li a:before{font-size:12px;font-family: 'FontAwesome';content:'\f00c';color:#000;background:none;border-bottom:0;padding-right:5px;}
.wt-prod-cat .out-content-prod .ajax_block_product .wt-button-container .medium-button.quick-view span{display:none;}
.cat-view-more{display:none}
.cat-banner a:before{      background: rgba(255,255,255,.1);
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out 0s;
    left: 0;bottom:0;}
	.cat-banner a:after{   content: "";
        background: rgba(255,255,255,.1);
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out 0s;
    right: 0;}
.cat-banner a:hover:before{    width: 100%;
    height: 100%;
    right: 0;
	
    left: auto;}
	.cat-banner a:hover:after{    width: 100%;
    height: 100%;
    right: auto;
	bottom:auto;
    left: 0;}
	
.wt-prod-cat .list_carousel ul.sub-cat-ul::-webkit-scrollbar {
    
	width: 5px;
}
.wt-prod-cat .list_carousel ul.sub-cat-ul::-webkit-scrollbar-track {
    background-color: #f2f2f2;
	width: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.wt-prod-cat .list_carousel ul.sub-cat-ul::-webkit-scrollbar-thumb {
    background-color: #000;
	cursor: pointer;
}
.wt-prod-cat .list_carousel ul.sub-cat-ul::-webkit-scrollbar-thumb:hover {
	background-color: #000;
}

 @media (min-width:1600px) {
	 .wt-prod-cat .out-content-prod .ajax_block_product{margin: 5px 10px; height: 430px;}
	.block-sub_cat, .block-banner{width:20%;}
	.block-products{width:60%;}
	.wt-prod-cat .list_carousel ul.sub-cat-ul{max-height: 380px; overflow-y: scroll; overflow-x: hidden; direction: rtl;}
	.wt-prod-cat .list_carousel ul.sub-cat-ul li{text-align: left;}
 }
 
 @media (min-width:768px) 
{
.sub-cat .sub-cat-ul{display:inline-block;margin-bottom:0;}
.wt-prod-cat .product_list{padding:0;}


}
@media (min-width: 768px) and (max-width: 1199px){
	
	
}
@media (min-width:992px) and (max-width: 1199px){
.container .row{margin:0;}
}
@media (max-width: 479px){

}

@media (min-width: 768px) and (max-width: 991px) 
{
	.block-sub_cat{padding-left:0;}
	.block-banner.right{padding-left:0;}
	.block-banner{padding-right:0;}
	.block-sub_cat.right{padding-right:0;}
	.wt-prod-cat .list_carousel ul.sub-cat-ul li a{font-size: 14px;}
	.wt-prod-cat .list_carousel ul.sub-cat-ul{padding: 0px 0 20px 15px;}
	.wt-prod-cat .list_carousel ul.sub-cat-ul li{line-height: 30px;}
	.wt-button-container .medium-button span{display:none;}
}
@media (min-width: 1200px) and (max-width: 1599px){
	.wt-prod-cat .list_carousel ul.sub-cat-ul{max-height: 300px; overflow-y: scroll; overflow-x: hidden; direction: rtl;}
	.wt-prod-cat .list_carousel ul.sub-cat-ul li{text-align: left;}
}
@media (max-width: 767px) {
	.block-sub_cat,.block-banner{padding:0 !important; width: 100%; clear:both;}
}

